<div class="about">
    <div class="top-nav">
        <div class="categories">
            <div (click)="scroll('CASSA')">
                <div [style.font-weight]= "getFontWeight('CASSA')" [style.color]="getColor('CASSA')" (click)="setCategory('CASSA')">CASSA</div>
                <img src="assets/img/other/assets_10. CASAA web About us_2020-10-07/Ellipse 61_2.svg" [style.visibility]="getVisibility('CASSA')">
            </div>
            <div (click)="scroll('service')">
                <div [style.font-weight]= "getFontWeight('service')" [style.color]="getColor('service')" (click)="setCategory('service')">SERVICE</div>
                <img src="assets/img/other/assets_10. CASAA web About us_2020-10-07/Ellipse 61_2.svg" [style.visibility]="getVisibility('service')">
            </div>
            <div (click)="scroll('philosophy')">
                <div [style.font-weight]= "getFontWeight('philosophy')" [style.color]="getColor('philosophy')" (click)="setCategory('philosophy')">PHILOSOPHY</div>
                <img src="assets/img/other/assets_10. CASAA web About us_2020-10-07/Ellipse 61_2.svg" [style.visibility]="getVisibility('philosophy')">
            </div>
            <div (click)="scroll('team')">
                <div [style.font-weight]= "getFontWeight('team')" [style.color]="getColor('team')" (click)="setCategory('team')">OUR TEAM</div>
                <img src="assets/img/other/assets_10. CASAA web About us_2020-10-07/Ellipse 61_2.svg" [style.visibility]="getVisibility('team')">
            </div>
        </div>
        <div class="line"></div>
    </div>
    <div class="section">
        <img src="assets/img/about/interior-design-consultant_2020-10-07-2/interior-design-consultant.jpg">
        <div class="Rectangle-362">
            <div class="WE-BORN-FOR-DESIGN">WE BORN FOR DESIGN</div>
            <div class="Our-goals">" Our goals are not limited by visual excellence, we create designs that work and accomplish tasks. Each of our projects is the perfect combination of quality and creativity "</div>
            <div class="TEAM-CASAA">TEAM CASAA</div>
        </div>
    </div>
    
    <div class="section" id="CASSA">
        <div class="sub-section">CASSA</div>
        <div class="topic">Contemporary Architecture Studio and Associates </div>
        <div class="description">
            <p>
                <span class="highlight">CASAA or Contemporary Architecture Studio and Associates</span> is based out of Colombo in Sri Lanka and was established under the creative direction of Isurunath Bulankulame. Previously known as IPA Architects, founded in 2011, the organization was rebranded as <span class="highlight">CASAA</span> in 2020.
            </p>
            <p>
                <span class="highlight">Our award-winning practice creates bespoke spaces that are carefully tailored and personalized and commercially astute, and are designed to make the interaction meaningful to the people who encounter them. </span>
            </p>
            <p>
                As a design team <span class="highlight">CASAA</span> designs structures, interiors and master plans that are admired for their refined simplicity, spatial fluidity, and thoughtful integration into their surroundings. 
            </p>
        </div>
        <div class="sketches">
            <img src="assets/img/about/Sketches - comes on contact -philospohy - services page/1 .jpg">
        </div>
    </div>

    <div class="section" id="service">
        <div class="sub-section-invert">CASSA</div>
        <div class="topic-invert">Service </div>
        <div class="description-invert">
            <p>
                <span class="highlight">CASAA </span> comprises a cross section of Architecture, Interior Design and Master Planning which is created in collaboration with a dynamic team of architects, allied professionals and technicians.  
            </p>
            <p>
                Our services are reflected through our diverse portfolio of projects spanning multiple sectors including residential, retail, hospitality, office, leisure, cultural and master planning.
            </p>
            <p>
                We combine architecture, interiors, products and furniture to create spaces that enrich the environments in which they are situated, and lives of those who interact with them.
            </p>
        </div>
        <div class="sketches-invert">
            <img src="assets/img/about/Sketches - comes on contact -philospohy - services page/4 .jpg">
        </div>
    </div>

    <div class="section" id="philosophy">
        <div class="sub-section">CASSA</div>
        <div class="topic">Philosophy</div>
        <div class="description">
            <p>
                Design and detail oriented our Philosophy is creating Contemporary architecture that is derived through strong individual concepts which are minimal, unique, site and project specific. Through creativity, collaboration and Communication with the client, we create architecture that is conducive to Client, Culture, Climate and the Context.   
            </p>
        </div>
        <div class="sketches">
            <img src="assets/img/about/Sketches - comes on contact -philospohy - services page/2 .jpg">
        </div>
    </div>

    <div class="section">
        <div class="Our-Team">Our Team</div>
        <img src="assets/img/about/Group pic.jpg">
    </div>

    <div class="section" id="team">
        <div class="team-nav">
            <div class="lineMember"></div>
            <ngx-slick-carousel class="carousel" 
                #slickModal="slick-carousel" 
                [config]="slideConfig" 
                (init)="slickInit($event)"
                (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem  *ngFor="let person of people" height="300px" (click)="setMember(person)">
                    <img src="assets/img/about/{{person.img}}" class="slider-img" >
                    <div class="members" [style.font-weight]= "getFontWeightMember(person.id)" [style.color]="getColorMember(person.id)" >{{person.name}}</div>
                    <img class="dot-member" src="assets/img/other/assets_10. CASAA web About us_2020-10-07/Ellipse 61.svg" [style.visibility]="getVisibilityMember(person.id)">
                </div>
            </ngx-slick-carousel> 
            <div (click)="next()" class="Rectangle-392 right"><img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 327.svg" class="center"></div>
            <div (click)="prev()" class="Rectangle-392 left"><img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 328.svg" class="center"></div>
        
        </div>
        <div class="member-main">
            <img class="member-img" src="assets/img/about/{{member['img']}}">
            <div class="member-position">{{member['position']}}</div>
            <div class="member-name">{{member['name']}}</div>
            <div class="member-description" *ngFor="let para of member['description']">{{para}}</div>
        </div>
        
         
       
        <app-bottom-bar></app-bottom-bar>
    </div>
    
</div>

