.top-nav {
    width: 100%;
    text-align: center;
}

.categories {
    height: 19px;
    font-size: 14px;
    width: 85%;
    font-family:  'Open Sans', sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #bebebe;
    display: flex;
    top: 17.31vh;
    position: relative;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.categories > div {
    margin: auto;
}

.line{
    width: 85%;
    height: 1px;
    top: 19.25vh;
    border-bottom: 1px solid #8a8787;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.categories > div > img{    
    height: 7px;
    object-fit: contain;
    background: transparent;
    width: 85%;
    top: 0.84vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.projects_flex_box {
    top: 36.58vh;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    position: absolute;
    height: 51vh;
    z-index: 1;
    overflow-y: auto;
}   

.projects_flex_box > div > div{
    margin-left: 0.0007vw;
    margin-bottom: 0.0013vh;
    height: 18.96vw;
}

.projects_flex_box > div > div >img {
    width: 32.65vw;
    height: 18.96vw;
    object-fit: cover;
    filter: gray;
    -webkit-filter: grayscale(0.6);
    -webkit-transition: all .8s ease-in-out;
}

.projects_flex_box > div > div >img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.footer {
    bottom: 0px;
    position: fixed;
    height: 89px;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
}

.topic-main {
    width: 200px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.59;
    letter-spacing: normal;
    text-align: left;
    color: #12131c;
    top: 29.03vh;
    left: 15.75vh;
    position: absolute;
}

.projects_flex_box > div > div >.project {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 30.5vw;
    height: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    left: 1.75vw;
    top: -3.22vw;
    position: relative;
}

.projects_flex_box > div > div > .location {
    width: 31.47vw;
    height: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #bdbdbf;
    left: 1.75vw;
    top: -3.13vw;
    position: relative;
}

/* project selected */

.project_type {
    width: 75px;
    height: 19px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #5d5d5d;
    margin-top: 26.43vh;
    margin-left: 9.37vw;
}

.project_name {
    width: 50vh;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #12131c;
    margin-top: 4px;
    margin-left: 9.37vw;
}

.info {
    display: flex;
    margin-top: 56px;
    flex-wrap: nowrap;
    margin-left: 9.37vw;
}

.info > div {
    width: 24.45vw;
    height: 24px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;   
}

.info-topic {
    width: 78px;
    height: 18px;
    font-weight: 800;
    color: #12131c;
}

.info-content {
    width: 102px;
    height: 18px;
    font-weight: normal;
    color: #5d5d5d;
}


.slide-main {
    margin-top: 78px;
    height: 100vh;
    position: relative;
}

.slide-main-img {
    height:100vh;
    width:100vw;
    object-fit:cover;
}

.slide-sub {
    margin-top: 42px;
    height: 97px;
    width: 100vw;
    position: relative;
    margin-bottom: 72px;
}

.slide-sub-image {
    margin: 0 2px;
    object-fit: cover;
}

.Rectangle-392 {
    width: 97px;
    height: 97px;
    backdrop-filter: blur(15px);
    background-color: transparent;
}
  
.upper-left {
    position: absolute;
    margin: 0 436px 284px 0;
    top: 45vh;
    left: 0px;
}

.upper-right {
    position: absolute;
    margin: 0 0 284px 435px;
    top: 45vh;
    right: 0px;
}

.lower-left {
    position: absolute;
    margin: 0 1172px 0 0;
    top:0px;
    left: 0px;
    z-index: 3;
}

.lower-right {
    position: absolute;
    margin: 0 0 0 1172px;
    top:0px;
    right:0px;
    z-index: 3;
}

.center {
    display: block;
    margin-top: 24.25px;
    margin-bottom: 24.25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.description {
    width: 719px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #5d5d5d;
}

.description > p {
    position: relative;
}

.bottom-background {
    width: 100%;
    height: 768px;
    margin-top: 72px;
    bottom: 20px;
    position: relative;
    object-fit: cover;
}

.Rectangle-380 {
    bottom: 32px;
    position: absolute;
    width: 530px;
    height: 64px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: transparent;
    z-index: 10;
}

.topic {
    width: 368px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    z-index: 10;
  }

.Project {
    width: 39px;
    height: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #9c9c9c;
    position: absolute;
    z-index: 10;
}

.Project-left {
    right: 42px;
    top: 9px;
    text-align: right;
}

.Project-right {
    left: 42px;
    top: 9px;
    text-align: left;
}

.topic-left {
    right: 42px;
    top: 24px;
    text-align: right;
}

.topic-right {
    left: 42px;
    top: 24px;
    text-align: left;
}

.right {
    position: absolute;
    right: 0px;
}

.left {
    position: absolute;
    left: 0px;
}

.Group-328 {
    position: absolute;
    left: 38px;
    width: 56px;
    height: 56px;
    object-fit: contain;
    background: url('/assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 328.svg');
    z-index: 10;
}

.Group-327 {
    position: absolute;
    right: 38px;
    width: 56px;
    height: 56px;
    object-fit: contain;
    background: url('/assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 327.svg');
    z-index: 10;
}

/* bottom bar */

.bar {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 130px;
    background-color: #ffffff;
    position: relative;
    z-index: 4;
}

.social-media {
    height: 22px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #12131c;
}

.facebook {
    bottom: 56px;
    left: 64px;
    position: absolute;
}

.instagram {
    bottom: 56px;
    left: 209px;
    position: absolute;
}

.twitter {
    bottom: 56px;
    left: 369px;
    position: absolute;
}

.moblie {
    bottom: 56px;
    right: 342px;
    position: absolute;
}

.address {
    bottom: 56px;
    right: 60px;
    position: absolute;
    width: 194px;
}


