<div class="Rectangle-321">
    <div class="Contact-us">Contact Us</div>
    <div class="content">
        <div class="sub-content For-Clients">For Clients</div>
        <div class="For-Clients-content link">+94 (0) 77 2807129</div>
        <div class="sub-content office">Office</div>
        <div class="office-content link">+94 (0) 11 2807129</div>
        <div class="sub-content address">Address</div>
        <div class="address-content link">
            <span>Contemporary Architecture Studio and Associates,</span>
            <span>85/7E1, Senanayake Mawatha,</span>
            <span>Nawala, Sri Lanka.</span>
        </div>
        <div class="sub-content email">Email</div>
        <div class="email-content link">Support@casaa.lk</div>
        <div class="slider">
            <img src="http://127.0.0.1:8887/img/contact/slider/1.jpg">
        </div>
    </div>
</div>

<app-bottom-bar></app-bottom-bar>
