<div class="Rectangle">
    <div class="side-bar">
        <div class="topic">
            <img src="assets/img/other/assets_11.CASAA Web News_2020-11-15/{{recent_dropdown_icon}}" class="dropdown" (click)="dropDown('recent')">
            <div class="Recent-News">Recent News</div>
            <div *ngFor="let news of recent_news" >
                <div class="news-head-side-bar" [style.display]="getDisplay('recent')" [style.font-weight]="getFontWeight(news.id)" (click)="selectNews(news.id)">{{news.topic}}</div>
            </div>
        </div>
        <div class="topic">
            <img src="assets/img/other/assets_11.CASAA Web News_2020-11-15/{{achievements_dropdown_icon}}" class="dropdown" (click)="dropDown('achievements')">
            <div class="Recent-News">Achievements</div>
            <div *ngFor="let news of achievements_news" >
                <div class="news-head-side-bar" [style.display]="getDisplay('achievements')" [style.font-weight]="getFontWeight(news.id)" (click)="selectNews(news.id)">{{news.topic}}</div>
            </div>
        </div>
        <div class="topic">
            <img src="assets/img/other/assets_11.CASAA Web News_2020-11-15/{{published_dropdown_icon}}" class="dropdown" (click)="dropDown('published')">
            <div class="Recent-News">Published</div>
            <div *ngFor="let news of published_news" >
                <div class="news-head-side-bar" [style.display]="getDisplay('published')" [style.font-weight]="getFontWeight(news.id)" (click)="selectNews(news.id)">{{news.topic}}</div>
            </div>
        </div>
        <div class="topic">
            <img src="assets/img/other/assets_11.CASAA Web News_2020-11-15/{{exhibition_dropdown_icon}}" class="dropdown" (click)="dropDown('exhibition')">
            <div class="Recent-News">Exhibition</div>
            <div *ngFor="let news of exhibition_news" >
                <div class="news-head-side-bar" [style.display]="getDisplay('exhibition')" [style.font-weight]="getFontWeight(news.id)" (click)="selectNews(news.id)">{{news.topic}}</div>
            </div>
        </div>
    </div>
    <div class="Rectangle-321" *ngIf=!news_selected>
        <div class="news-content">
            <div class="news-content-type">{{selected_news.type}}</div>
            <div class="news-content-topic">{{selected_news.topic}}</div>
            <div class="news-content-date">Date: {{selected_news.date}}</div>
            <div class="news-content-para">{{selected_news.description[0]}}</div>
            <div class="fade-background"></div>
            <div class="Rectangle-326 ripple" (click)="readMore()">
                <img src="assets/img/other/assets_11.CASAA Web News_2020-11-15/Group 331.svg" class="Group-331">
                <div class="Read-more">Read more</div>
                <div class="Path-80"></div>
            </div>
        </div>
        <div class="news-image">
            <img src="assets/img/news/{{selected_news.img_url}}" (click)="readMore()">
        </div>
        <div class="news-dot-list"></div>
    </div>

    <div class="Rectangle-322" *ngIf=news_selected>
        <div class="news-content">
            <div class="news-content-type">{{selected_news.type}}</div>
            <div class="news-content-topic">{{selected_news.topic}}</div>
            <div class="news-content-date">Date: {{selected_news.date}}</div>
            <div class="news-image-full">
                <img src="assets/img/news/{{selected_news.img_url}}">
            </div>
            <div class="news-content-para-full" *ngFor="let para of selected_news.description; let i = index" [attr.data-index]="i">
                <div *ngIf="i==0" class="first_para">{{para}}</div>
                <div *ngIf="i!=0" class="other_para">{{para}}</div>
            </div>
            
        </div>
        
    </div>
    
</div>

<app-bottom-bar></app-bottom-bar>
