.Rectangle {
    top: 23.95vh;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 52.08vh;
}

.Rectangle-321 {
    width: 80%;
    height: 52.08vh;
    background-color: #e7e8f2;
    position: absolute;
    left: 20%;
    top:0px;
}

.side-bar {
    width: 20%;
    height: 100%;
    overflow-y: scroll;
}

.dropdown {
    width: 27px;
    height: 17px;
    object-fit: contain;
}

.topic {
    top: 0px;
    left: 28px;
    margin: 0px 121px 22px 0;
    position: relative;
    cursor: pointer;
}

.Recent-News {
    width: 78px;
    height: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #12131c;
    left: 27px;
    top: 1px;
    position: absolute;
}

.news-head-side-bar{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 142px;
    height: 34px;
    margin: 8px 19px 8px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #5d5d5d;
    padding-left: 27px;
    display: none;
}

.news-content {
    display: block;
    left: 46px;
}

.news-image {
    width: 29.28vw;
    height: 29.28vw;
    object-fit: cover;
    right: 8.63vw;
    z-index: 2;
    position: absolute;
    top: 0vh;
    overflow: hidden;
}

.news-content-type {
    width: 67px;
    height: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 1.2px;
    text-align: left;
    color: #12131c;
    top: 3.64vh;
    left: 3.36vw;
    position: absolute;
}

.news-content-topic {
    width: 500px;
    height: 55px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #12131c;
    top: 7.03vh;
    left: 3.36vw;
    position: absolute;
}

.news-content-date {
    width: 123px;
    height: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 1.2px;
    text-align: left;
    color: #5d5d5d;
    top: 15.75vh;
    left: 3.36vw;
    position: absolute;
}

.news-content-para {
    max-width: 33.23vw;
    max-height: 15.62vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #5d5d5d;
    top: 20.83vh;
    left: 3.36vw;
    overflow: hidden;
    position: absolute;
}

.fade-background {
    width: 36.60vw;
    height: 9.63vh;
    top: 28.64vh;
    left: 3.36vw;
    z-index: 10;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(231, 232, 242, 0), #e7e8f2);
}

.Rectangle-326 {
    width: 171px;
    height: 44px;
    /* -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px); */
    background-color: #12131c;
    top: 41.66vh;
    left: 3.36vw;
    position: absolute;
    cursor: pointer;
}

.Group-331 {
    width: 15px;
    height: 19px;
    object-fit: contain;
    z-index: 2;
    top: 13px;
    left: 5px;
    position: relative;
}

.Read-more {
    width: 76px;
    height: 19px;
    margin: 0 6.8px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    left: 20px;
    top: -10px;
    position: relative;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
  }
.ripple:hover {
    background: #7c7d85 radial-gradient(circle, transparent 1%, #45465a 200%) center/15000%;
}
.ripple:active {
    background-color: #45465a;
    opacity: 20%;
    background-size: 100%;
    transition: background 0s;
}

.Path-80 {
    width: 44.2px;
    height: 0;
    margin: 14.6px 0 0 6.8px;
    border: solid 0.5px #ffffff;
    left: 102px;
    top: -30px;
    position: relative;
}

.Rectangle-322 {
    width: 80%;
    height: 76.04vh;
    background-color: #e7e8f2;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 20%;
    top: -11.58vh;
}
  
.news-content-para-full {
    margin: 2.63vh 4.53vw 1.75vh 3.33vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #5d5d5d;
    display: inline-block;
    z-index: 1;
    top: 20.31vh;
    position: relative;
}

.news-content-para-full > .first_para {
    width: 33.96vw;
    height: 183px;
    position: relative;
}

.news-content-para-full > .other_para {
    width: 100%;
    position: relative;
}


.news-image-full {
    top: 76px;
    width: 422px;
    height: 295px;
    margin: 0px 97px 28px 0px;
    left: 40.26vw;
    float: right;
    z-index: 1;
    position: absolute;
}

.news-dot-list {
    position: absolute;
    width: 8.63vw;
    height: 52.08vh;
    right: 0;
}

.dot-line {
    margin-right: auto;
    margin-left: auto;
    width: 15px;
    z-index: 10;
}

.Line-3 {
    width: 0;
    height: 84.1px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #12131c;
    margin-right: auto;
    margin-left: auto;
    margin-top: 26px;
    position: relative;
}

.Rectangle-327 {
    width: 495px;
    height: 64px;
    right: 0;
    top: 79.55vh;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: #e7e8f2;
    position: absolute;
  }

  .topic-bottom {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 231px;
    height: 30px;
    right: 4.39vw;
    top: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: right;
    color: #12131c;
    position: absolute;
    z-index: 10;
  }

.news-bottom {
    width: 39px;
    height: 17px;
    right: 4.39vw;
    top: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: rgba(18, 19, 28, 0.77);
    position: absolute;
    z-index: 10;
}

.Group-328 {
    cursor: pointer;
}

.Group-327 {
    cursor: pointer;
}