.Rectangle-302 {
    width: 100%;
    padding: 0;
    margin: 0%;
    height: 100vh;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 
.slide:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    display: block;
    background-color: rgba(140, 22, 115, 0.2);
} 

.banner-text-sub {
    height: 90px;
    top: 38.54vh;
    left: 8.78vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.94;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.48);
    position: absolute;
    z-index: 10;
}

.banner-text-main {
    top: 48.43vh;
    left: 8.78vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 69px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.49;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    position: absolute;
    z-index: 10;
}

.We-create {
    top: 0px;
    width: 200px;
    height: 49px;
    position: absolute;
    z-index: 10;
}

.Contemporary-Design {
    top: 4.81vh;
    width: 400px;
    height: 49px;
    position: absolute;
    z-index: 10;
}

.for-Living {
    top: 12px;
    width: 400px;
    height: 94px;
    position: absolute;
    z-index: 10;
}

.address {
    top: 69.01vh;
    right: 4.39vw;
    width: 194px;
    height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.77);
    position: absolute;
    z-index: 10;
}

.mobile {
    top: 79.68vh;
    right: 4.38vw;
    width: 270px;
    height: 19px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.77);
    position: absolute;
    z-index: 10;
}

.Rectangle-380 {
    width: 550px;
    height: 64px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    top: 89.58vh;
    right: 0px;
    position: absolute;
    z-index: 10;
}

.Group-328 {
    width: 56px;
    height: 56px;
    object-fit: contain;
    background: url('/assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 328.svg');
    z-index: 10;
}

.Group-327 {
    width: 56px;
    height: 56px;
    object-fit: contain;
    background: url('/assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 327.svg');
    z-index: 10;
}

.topic {
    width: 231px;
    height: 30px;
    right: 4.39vw;
    top: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    position: absolute;
    z-index: 10;
  }

.Project {
    width: 39px;
    height: 17px;
    right: 4.39vw;
    top: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: right;
    color: #9c9c9c;
    position: absolute;
    z-index: 10;
}

.social-media {
    top: 89.84vh;
    width: 69px;
    height: 22px;
    opacity: 0.72;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    position: absolute;
    z-index: 10;
}

.facebook {
    left: 4.68vw;
    position: absolute;
    z-index: 10;
}

.instagram {
    left: 15.3vw;
    position: absolute;
    z-index: 10;
}

.twitter {
    left: 27.01vw;
    position: absolute;
    z-index: 10;
}

.card_part {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX( 100vw );
    background-size: cover;
    background-position: center;
    background-image: url( "/assets/img/Landing Page/1 .jpg");
    animation: slideTransition 40s cubic-bezier(0, 0, 0, 0.97) infinite;
  }

.card_part.card_part-two {
    z-index: 6;
    background-image: url( "/assets/img/Landing Page/3 .jpg");
    animation-delay: 10s;
}
  
.card_part.card_part-three {
    z-index: 5;
    background-image: url( "/assets/img/Landing Page/4 .jpg");
    animation-delay: 20s;
}
  
.card_part.card_part-four {
    z-index: 4;
    background-image: url( "/assets/img/Landing Page/5 .jpg" );
    animation-delay: 30s;
}
  

/* .slide li:nth-child(5) span { 
    animation-delay: 50s; 
}
.slide li:nth-child(6) span { 
    animation-delay: 60s; 
} */


/*
@-webkit-keyframes slideAnimation { 
    0% { opacity: 1; -webkit-transform: scale(1); -webkit-transform: translateX( 0px ); }
    65% { opacity: 1; -webkit-transform: scale(1.1); -webkit-transform: translateX( 0px ); }
    70% { opacity: 1; -webkit-transform: scale(1.1); -webkit-transform: translateX( 100vw ); }
    100% { opacity: 1; -webkit-transform: scale(1.1); -webkit-transform: translateX( 100vw ); }
}

@-moz-keyframes slideAnimation { 
    0% { opacity: 1; -webkit-transform: scale(1); transform: translateX( 0 ); }
    70% { opacity: 1; -webkit-transform: scale(1.1); transform: translateX( 100vw ); }
    100% { opacity: 1; -webkit-transform: scale(1.1); transform: translateX( 100vw );  }
}

@-o-keyframes slideAnimation { 
    0% { opacity: 1; -webkit-transform: scale(1); transform: translateX( 0 ); }
    70% { opacity: 1; -webkit-transform: scale(1.1); transform: translateX( 100vw ); }
    100% { opacity: 1; -webkit-transform: scale(1.1); transform: translateX( 100vw ); }
}

@-ms-keyframes slideAnimation { 
    0% { opacity: 1; -webkit-transform: scale(1); transform: translateX( 0 ); }
    70% { opacity: 1; -webkit-transform: scale(1.1); transform: translateX( 100vw ); }
    100% { opacity: 1; -webkit-transform: scale(1.1); transform: translateX( 100vw ); }
} */

@keyframes slideTransition {
    3% { transform: translateX( 0 ) scale(1) ; }
    25% { transform: translateX( 0 ) scale(1.05); }
    28% {  transform: translateX( -100vw ) scale(1); }
    100% { transform: translateX( -100vw ) scale(1); }
  }