<div class="Rectangle-302">
    <div class="slide">

        <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig" 
            (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides">
                <video class="video-background" autoplay muted playsinline loop>
                    <source src="{{ slide.img}}" type="video/mp4">
                </video>
                <!-- <img src="{{slide.img}}" class="slider-img"> -->
            </div>
        </ngx-slick-carousel> 

    </div>
    <div class="banner-text-sub"> 
        <div class="We-create in-left"> We create </div>
        <div class="Contemporary-Design in-left"> Contemporary Design </div>
    </div>
    <div class="banner-text-main">
        <div class="for-Living in-left"> for Living... </div>
    </div>
    
    <div class="dot-line">
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 326.svg" position="relative" style="margin:26px 0 0 0" [style.display]="getVisibility('dot-selected', 0)">
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Ellipse 6.svg" position="relative" style="margin:26px 4px 0 4px; cursor: pointer;" [style.display]="getVisibility('dot', 0)" (click)="goTo(0)">
        <div class="Line-3" [style.display]="getVisibility('line', 0)"></div>
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 326.svg" position="relative" style="margin:26px 0 0 0" [style.display]="getVisibility('dot-selected', 1)">
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Ellipse 6.svg" position="relative" style="margin:26px 4px 0 4px; cursor: pointer;" [style.display]="getVisibility('dot', 1)" (click)="goTo(1)">
        <div class="Line-3" [style.display]="getVisibility('line', 1)"></div>
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 326.svg" position="relative" style="margin:26px 0 0 0" [style.display]="getVisibility('dot-selected', 2)">
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Ellipse 6.svg" position="relative" style="margin:26px 4px 0 4px; cursor: pointer;" [style.display]="getVisibility('dot', 2)" (click)="goTo(2)">
        <div class="Line-3" [style.display]="getVisibility('line', 2)"></div>
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 326.svg" position="relative" style="margin:26px 0 0 0" [style.display]="getVisibility('dot-selected', 3)">
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Ellipse 6.svg" position="relative" style="margin:26px 4px 0 4px; cursor: pointer;" [style.display]="getVisibility('dot', 3)" (click)="goTo(3)">
        <div class="Line-3" [style.display]="getVisibility('line', 3)"></div>
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 326.svg" position="relative" style="margin:26px 0 0 0" [style.display]="getVisibility('dot-selected', 4)">
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Ellipse 6.svg" position="relative" style="margin:26px 4px 0 4px; cursor: pointer;" [style.display]="getVisibility('dot', 4)" (click)="goTo(4)">
        <div class="Line-3" [style.display]="getVisibility('line', 4)"></div>
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 326.svg" position="relative" style="margin:26px 0 0 0" [style.display]="getVisibility('dot-selected', 5)">
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Ellipse 6.svg" position="relative" style="margin:26px 4px 0 4px; cursor: pointer;" [style.display]="getVisibility('dot', 5)" (click)="goTo(5)">
        <div class="Line-3" [style.display]="getVisibility('line', 5)"></div>
    </div>
    <div class="address">
        <div class="address-line-1">85/7E1, Senanayake Mawatha</div>
        <div class="address-line-2">Nawala, Sri Lanka</div>      
    </div>
    <div class="mobile">+94 (0) 77 392 7257  / +94 (0) 11 280 7129</div>
    <div class="Rectangle-380">
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 328.svg" class="Group-328" (click)="prev()">
        <img src="assets/img/other/assets_5. CASAA web Home page_2020-09-19/Group 327.svg" class="Group-327" (click)="next()">
        <div class="topic">{{slides[CURRENT_SLIDE].proj_name}}</div>
        <div class="Project">project</div>
    </div>
    <div class="social-media">
        <div class="facebook">.Facebook</div>
        <div class="instagram">.Instergram</div>
        <div class="twitter">.Twitter</div>
    </div>
</div>